<aside class="aside">
	<div class="aside__header">
		hottest video
	</div>
	<a href="#" class="aside__link">
		<div class="aside__img aside__img_1">
			<div class="aside__icon"></div>
		</div>
		<h2 class="aside__title">
			CNN could not verify the 
			authenticity
		</h2>
		<div class="aside__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.
			<div class="aside__comments">
				12
			</div>
		</div>
	</a>
	<a href="#" class="aside__link">
		<div class="aside__img aside__img_2">
			<div class="aside__icon"></div>
		</div>
		<h2 class="aside__title">
			Reids eyes deal to end stalemate
			over funding
		</h2>
		<div class="aside__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. 
			<div class="aside__comments">
				12
			</div>
		</div>
	</a>
	<a href="#" class="aside__link">
		<div class="aside__img aside__img_3">
			<div class="aside__icon"></div>
		</div>
		<h2 class="aside__title">
			CNN could not verify the 
			authenticity
		</h2>
		<div class="aside__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.
			<div class="aside__comments">
				12
			</div>
		</div>
	</a>
</aside>