<header class="header">
	<div class="wrapper">
		<div class="hotest">
			<div class="hotest__logo">
				hotest
			</div>
			<div class="hotest__text" id="hotest__text">
				The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.
			</div>
		</div>
		<div class="logo-nav">
			<div class="logo-nav__logo-link">
				<img src="img/logo.png" alt="Layman politics" class="logo-nav__img">
			</div>
			<nav class="logo-nav__nav">
				<ul class="menu-small">
					<li class="menu-small__item">
						<a href="#" class="menu-small__link">
							{{link1}}
						</a>
					</li>
					<li class="menu-small__item">
						<a href="#" class="menu-small__link">
							{{link2}}
						</a>
					</li>
					<li class="menu-small__item">
						<a href="#" class="menu-small__link">
							{{link3}}
						</a>
					</li>
				</ul>
				<ul class="menu">
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link4}}
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link5}}
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link6}}
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link7}}
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link8}}
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link9}}
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							{{link10}}
						</a>
					</li>
				</ul>
				<div class="toggle">
					<span class="toggle__item"></span>
					<span class="toggle__item"></span>
					<span class="toggle__item"></span>
				</div>
			</nav>
		</div>
	</div>
</header>