<div class="long-news">
	<div class="header-title-description">
		<h2 class="header-title-description__title">
			in syria, 'brother of a whore' gets tossed like trash
		</h2>
		<p class="header-title-description__description">
			As crackdowns against anti-government protesters
		</p>
	</div>
	<div class="long-news__wrapper">
		<div class="long-news__img long-news__img_1"></div>
		<div class="long-news__text-wrapper">
			<p class="long-news__text">
				A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues. 
			</p>
			<div class="long-news__footer">
				<div class="long-news__speech">
					12
				</div>
				<div class="long-news__tags">
					Tags:
					<a href="#" class="long-news__tags-item">Italy</a>,
					<a href="#" class="long-news__tags-item">Best wine</a>,
					<a href="#" class="long-news__tags-item">Spirit</a>,
					<a href="#" class="long-news__tags-item">World championship</a>,
					<a href="#" class="long-news__tags-item">Eat</a>
				</div>
				<div class="long-news__share">
					Share:
					<a href="#">
						<img src="img/facebook.png" alt="facebook">
					</a>
					<a href="#">
						<img src="img/twitter.png" alt="twitter">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-title-description">
		<h2 class="header-title-description__title">
			gruesome video shows syria brutality
		</h2>
		<p class="header-title-description__description">
			As crackdowns against anti-government protesters continue across
		</p>
	</div>
	<div class="long-news__wrapper">
		<div class="long-news__img long-news__img_2"></div>
		<div class="long-news__text-wrapper">
			<p class="long-news__text">
				In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues. A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. 
			</p>
			<div class="long-news__footer">
				<div class="long-news__speech">
					12
				</div>
				<div class="long-news__tags">
					Tags:
					<a href="#" class="long-news__tags-item">Italy</a>,
					<a href="#" class="long-news__tags-item">Best wine</a>,
					<a href="#" class="long-news__tags-item">Spirit</a>,
					<a href="#" class="long-news__tags-item">World championship</a>,
					<a href="#" class="long-news__tags-item">Eat</a>
				</div>
				<div class="long-news__share">
					Share:
					<a href="#">
						<img src="img/facebook.png" alt="facebook">
					</a>
					<a href="#">
						<img src="img/twitter.png" alt="twitter">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>