<a href="#" class="main-news">
	<div class="header-title-description">
		<h2 class="header-title-description__title">
			gruesome video shows syria brutality
		</h2>
		<p class="header-title-description__description">
			As crackdowns against anti-government protesters continue across
		</p>
	</div>
	<div class="main-news__img"><!-- <img src="img/main-news__img.jpg" alt="main-news__img"> -->
		<p class="main-news__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one and hurled from them from a bridge into a river below as cursing filled the air
		</p>
	</div>
</a>