<div class="news">
	<a href="" class="news__item">
		<div class="news__img"></div>
		<h2 class="news__title">
			CNN could not verify the 
			authenticity
		</h2>
		<p class="news__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. 
		</p>
		<div class="news__comments">
			12
		</div>
	</a>
	<a href="" class="news__item">
		<div class="news__img"></div>
		<h2 class="news__title">
			How Much Do You Owe
			For Lunch? You Decide
		</h2>
		<p class="news__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. 
		</p>
		<div class="news__comments">
			12
		</div>
	</a>
	<a href="" class="news__item">
		<div class="news__img"></div>
		<h2 class="news__title">
			Reid eyes deal to end 
			stalemate over funding
		</h2>
		<p class="news__text">
			The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. 
		</p>
		<div class="news__comments">
			12
		</div>
	</a>
	<a href="" class="news__item">
		<div class="news__img"></div>
		<h2 class="news__title">
			Wall Street on Debt Deal
			So What?
		</h2>
		<p class="news__text">
			Dow drops more than 250 points as stock markets show no relief from Obama's 
		</p>
		<div class="news__comments">
			12
		</div>
	</a>
</div>